extends layout

block content

    .jumbotron.jumbotron-fluid
      .container
        h1 Baza volontera
        p
          | Lista dostupnih volontera.
    .container
      .container
            table.table
                - each user, i in users
                
                    thead.thead-light
                        tr
                        th(scope='col') ID
                        th(scope='col') #{user._id}
                    tbody
                        tr
                            th(scope='row') Datum rođenja
                            td #{user.dateOfBirth}
                        tr
                            th(scope='row') Grad
                            td #{user.city}
                        tr
                            th(scope='row') Poznavanje engleskog
                            td #{user.english_level}
                        tr
                            th(scope='row') Rad na računalu
                            td #{user.computer_skill}
                        tr
                            th(scope='row') Vrijeme volontiranja
                            td #{user.volunteering_availability}
                        tr
                            th(scope='row') Količina tjednog volontiranja
                            td #{user.volunteering_time}
                         
                         tr
                            th(scope='row') 
                            td 

        a(href='/') Nazad