extends ../layout

block content

	.jumbotron.jumbotron-fluid
		.container
			h1 A탑uriraj posao
			p A탑uriraj podatke o poslu.

	.container
		.container
				h3.
					ID #{project._id}
				form.form-horizontal(action='/projects/#{project._id}/edit',method='post',name='updateblob',enctype='application/x-www-form-urlencoded')
					.form-group.row
						.col-sm-2
							label.label-text Naziv posla
						.col-sm-6
							input.form-control.form-control-sm(type='text', name='title', value='#{project.title}', required='')
					.form-group.row
						.col-sm-2
							label.label-text Opis posla
						.col-sm-6							
							textarea.form-control.form-control-sm-6(name="description", cols="30", rows="10", value='#{project.description}', required='')
					.form-group.row
						.col-sm-2
							label.label-text Lokacija
						.col-sm-6
							input.form-control.form-control-sm-6(type='text', name='location', value='#{project.location}', required='')
					.form-group.row
						.col-sm-2
							label.label-text Po훾etak
						.col-sm-6
							input.form-control.form-control-sm-6(type='date', name='start', value='#{projectStart}')
					.form-group.row
						.col-sm-2
							label.label-text Kraj 
						.col-sm-6
							input.form-control.form-control-sm-6(type='date', name='end', value='#{projectEnd}')
					.form-group.row
						.col-sm-2
						.col-sm-6
							button#btnSubmit.btn.btn-info(type="submit") A탑uriraj
			