extends ../layout

block content
 .jumbotron.jumbotron-fluid
      .container
        h1 Objavi novi posao
        p
          | Objavi novi posao i potragu za volonterima.
    .container
      .container
        table.table
            thead.thead-light
                tr
                th(scope='col') Posao ID
                th(scope='col') #{project._id}
            tbody
                tr
                    th(scope='row') Naziv posla
                    td #{project.title}
                tr
                    th(scope='row') Opis posla
                    td #{project.description}
                tr
                    th(scope='row') Lokacija
                    td #{project.location}
                tr
                    th(scope='row') Početak
                    td #{project.start}
                tr
                    th(scope='row') Kraj
                    td #{project.end}
 
        a(href='/projects') Nazad